*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
}

.App {
	width: 100vw;
	height: 100vh;
	padding: 10px;
	background-color: #A2D2FF;
	display: flex;
	align-items: center;
	justify-content: center;
}